html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
h1{
    background-color: beige;
    width: 250px;
    height: 80px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}